<div class="main-container">
  <app-navigation-bar></app-navigation-bar>
  <div class="container repos">
    <p class="h5 text-center mt-5">Repositories</p>
    <div class="container repositories-section ">
      <div class="repository my-3 p-5 d-flex align-items-center justify-content-between text-center">
        <div class="container d-flex flex-column align-items-center justify-content-start">
          <p class="repo-name small"><span>Akan Names</span> Project</p>
          <p class="small">By <span>Hanan</span></p>
          <p class="small"><span>4</span> Months Ago </p>
            
        </div>
        <div class="d-flex justify-content-around">
          <p class="repo-info text-center h-5 p-3 mx-5"><span>3</span> Forks</p>
          <p class="repo-info text-center h-5 p-3 mx-5"><span>3</span> Watchers</p>
          <p class="repo-info text-center h-5 p-3 mx-5"><span>3</span> Stars</p>
        </div>
      </div>
    </div>
  </div>
</div>
