.left{
  width: 45%;
}
.repo{
  position: relative;
}
.viewer{
  position: absolute;
  right: 1vh;
  top: 1vh;
}
.floaters{
  max-width: fit-content;
  height: 15%;
}
.desc{
  max-height:13vh;
  overflow:auto;
}
floater{
  max-width: fit-content;
  height: 15%;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}
.viewer a{
  text-decoration: none !important;
}
.repo-carrier{
  border: 1px solid #0096C7;
}