.page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.page img{
    height: 45vh;
    
}
.first-buttons {
    width: 10vw;
    border-color: #0096C7;
    background-color: #0077B6;
    box-shadow: none;
    color: #E5E5E5;
  }