<div class="container main-container d-flex flex-column  justify-content-center align-items-center ">
  <img src="../../assets/top-left.svg" class="top-left" alt="">
  <div class="github-image">
    <img src="../../assets/github-one.svg" class="github-one" alt="">
  </div>
  <div class="app-title">
    <p class="h1 mt-5">Github Search</p>
  </div>
  <form action="">
    <input type="text" class="form-control p-3 my-5 input-space" placeholder="search users,repos ... ">
    <img src="../../assets/Union.svg" alt="" class="m-glass">
    <div class="form-group d-flex justify-content-center">
      <button class="btn btn-outline-success me-3 first-buttons">Users</button>
      <button class="btn btn-outline-success first-buttons">Repositories</button>
    </div>
  </form>
  <img src="../../assets/botttom-right.svg" class="bottom-right" alt="">
</div>
