
.numbers{
    color: #0077B6;
}

/* .user-image{
    width: 10vw;
    border-radius: %;
} */
.holder {
  background-image: url("../../assets/hanan.png");
  height: 30vh;
  width: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-muted{
  color: #0096C7 !important;
}