/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
    
}
.first-buttons{
    width: 10vw;
    border-color: #0096C7;
    background-color: #0077B6;
    box-shadow: none;
    color:#E5E5E5;
}